.boton1 {
    color: white;
    background-color: #63AF2B;
    font-family: "Poppins";
  }
  
  .boton2 {
    background-color: white;
    color: black;
    font-family: "Poppins";
  }
  
  .sombreado {
    background-color: #b0aaa5;
    font-family: "Poppins";
  }
  